@import "tailwindcss";

@theme {
  /* This ensures Tailwind v4 maps the 'dark:' prefix to the '.dark' class */
  --color-slate-950: #020617; /* Example: ensuring specific dark colors exist */
}

/* Add this specifically for v4 if the automatic detection fails */
@custom-variant dark (&:where(.dark, .dark *));

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 10px;
}